.card {
  /* ... otros estilos existentes ... */
  width: 250px; /* Ancho fijo para las tarjetas */
  min-height: 100vh; /* Altura mínima para que ocupe toda la pantalla */
  margin: 0 auto; /* Centra las tarjetas horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente dentro de la tarjeta */
  justify-content: center; /* Centra los elementos horizontalmente dentro de la tarjeta */
}

/* Ocultar la barra de desplazamiento */
.card::-webkit-scrollbar {
  display: none;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  padding: 15px; /* Adjust padding for image size */
  border-top-left-radius: 0.5rem; /* Rounded top corner */
  border-top-right-radius: 0.5rem; /* Rounded top corner */
}

.card-body {
  padding: 1rem; /* Padding for content */
}

.card-title {
  font-weight: bold; /* Bold title text */
}

.card-text {
  font-size: 0.8rem; /* Adjust font size for content */
  margin-bottom: 0.5rem; /* Spacing between content items */
}

.fw-bold {
  font-weight: bold; /* Utility class for bold text */
}

@media (max-width: 768px) {
  .card {
    width: 200px;
  }
}
